<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean name="fly" id="myDao" class="com.itheima.dao.impl.myDaoimpl" />
        <bean class="com.itheima.service.impl.myServiceImpl" id="myService">
                <property name="mydao" ref="myDao"></property>
        </bean>
<!--        <bean class="com.itheima.factory.classFactory" id="classFactory" factory-method="getMyDao"/>-->
        <bean class="com.itheima.factory.classFactory" id="dynamicFactory" />

</beans>