<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable = "true">
    <Resource
      name="jdbc/javaee"
      type="javax.sql.DataSource" 
      driverClassName="com.mysql.cj.jdbc.Driver"
      url="jdbc:mysql://127.0.0.1:3306/javaee?useSSL=false&amp;serverTimezone=UTC"
      username="root"
      password="zhouwei"
      maxTotal="4"
      maxIdle="2"
      maxWaitMillis="5000"/>
</Context>
